h2{
    margin-bottom: 0px;
}

.description{
    margin: 20px 15px;
}

strong{
    
    text-align: right;
}

#btn-retour{
    margin-top: 3px;
}

img{
    text-align: center;
}

.black{
    background-color: #000;
    color: #BBB;
}

.black:hover{
    background-color: black;
    color: #FFF;
}

