{% extends 'base.html' %}

{% load bootstrap %}

{% block content %}
    <section class="row">
        <div class="col-md-2">
            <a class="btn btn-default" href="{% url 'admin' password_hash=password_hash %}">Retour</a>
        </div>
        <h2 class=col-md-12>Ajouter une video</h2>
        <div class="col-md-5">
            <form action="{% url 'video_add' password_hash=password_hash %}" method="post">
                {% csrf_token %}
                {{form|bootstrap}}
                <input type="submit" value="Poster" class="btn btn-primary pull-right"/>
            </form>
        </div>
    </section>
{% endblock %}