h2{
    margin-bottom: 0px;
}

.description{
    padding: 20px 70px 20px 15px;
}

.black{
    background-color: #000;
    color: #BBB;
}

.black:hover{
    background-color: black;
    color: #FFF;
}
